<app-dashboard></app-dashboard>
<section class="content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
          <div class="card ">
            <div class="header text-center">
                <h2>
                    <strong>Add</strong> Employee</h2>
            </div>
            <div class="body">
            <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="">      
      <div class="row clearfix">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="form-line">
                    <input type="text" class="form-control" placeholder="First Name" formControlName="fullName" required>
                    <div class="mt-3" [hidden]="fullName?.valid || fullName?.untouched">
                        <small class="alert alert-danger" *ngIf="fullName?.errors?.['required']" >
                          Full Name is required
                        </small>
                        <small class="alert alert-danger" *ngIf="fullName?.errors?.['pattern']" style="font-size: 0.6em;">
                            Full Name (ex: zzzz zzzz)
                        </small>
                      </div>
                </div>
            </div>
        </div>
       
        
        <div class="col-sm-6">
            <div class="form-group">
                <div class="form-line">
                    <input type="text" class="form-control" placeholder="Nationality"formControlName="nationality" required>
                </div>
                <div class="mt-3" [hidden]="nationality?.valid || nationality?.untouched">
                    <small class="alert alert-danger" *ngIf="nationality?.errors?.['required']">
                        Nationality is required
                    </small>
                    <small class="alert alert-danger " *ngIf="nationality?.errors?.['pattern']">
                        Nationality max length is 15 Letters
                    </small>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row clearfix">
    <div class="col-sm-6">
        <div class="form-group">
            <div class="form-line">
        <input type="text" id="ssn" formControlName="ssn" class="form-control" placeholder="SSN" required>
        <div class="mt-3" [hidden]="ssn?.valid || ssn?.untouched">
          <small class="alert alert-danger" *ngIf="ssn?.errors?.['required']">
              SSN is required
          </small>
          <small class="alert alert-danger" *ngIf="ssn?.errors?.['pattern']">
            ssn max length is 14 digets
        </small>
      </div>
      </div>
      </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
            <div class="form-line">
        <input type="text" id="salary" formControlName="salary" class="form-control" placeholder="Salary" required>
        <div class="mt-3" [hidden]="salary?.valid || salary?.untouched">
          <small class="alert alert-danger" *ngIf="salary?.errors?.['required']">
            Salary is required
          </small>
          <small class="alert alert-danger" *ngIf="salary?.errors?.['pattern']">
            Salary must be only numbers
          </small>
          <small class="alert alert-danger" *ngIf="salary?.errors?.['minSalary']"style="font-size: 0.7em;">
            Salara must be >= 2000
          </small>
      </div>
      </div>
      </div>
    </div>
</div>
   <br>
   <br>
   <div class="col-sm-12">
    <div class="form-group">
        <div class="form-line">
            <select name="sex" formControlName="sex" class="form-control"required>
                <option value="" disabled selected>Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
        <div class="mt-3" [hidden]="sex?.valid || sex?.untouched">
            <small class="alert alert-danger" *ngIf="sex?.errors?.['required']">
                Gender is required
            </small>
            <small class="alert alert-danger" *ngIf="sex?.errors?.['pattern']">
                Gender must be male or female
            </small>
        </div>
    </div>
</div>


   <br>
   <br>
    <div class="row clearfix">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="form-line">
                    <input id="email" type="email" class="validate form-control" placeholder="Email" formControlName="email" required>
                </div>
                <div class="mt-3" [hidden]="email?.valid || email?.untouched">
                    <small class="alert alert-danger" *ngIf="email?.errors?.['required']">
                        Email is required
                    </small>
                    <small class="alert alert-danger" *ngIf="email?.errors?.['email']">
                        email pattern email d@d
                  </small>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <input type="date" class="form-control datetimepicker flatpickr-input" placeholder="Joining Date" name="date1" [min]="minDate" id="contractDate" formControlName="contractDate"required>
            </div>
            <div  class="mt-3" [hidden]="contractDate?.valid || contractDate?.untouched">
                <small class="alert alert-danger" *ngIf="contractDate?.errors?.['required']">
                    ContractDate is required
                </small>
                <small class="alert alert-danger" *ngIf="contractDate?.errors?.['minContractDate']"style="font-size: 0.6em;">
                  Date of establishment of the company is (1-1-2020)
                </small>
                <small class="alert alert-danger" *ngIf="contractDate?.errors?.['maxContractDate']"style="font-size: 0.6em;">
                  you can't select date after (1-1-2040)
                </small>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row clearfix">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="form-line">
                    <input type="text" class="form-control" placeholder="Telephone" formControlName="phoneNumber"required>
                </div>
                <div class="mt-3" [hidden]="phoneNumber?.valid || phoneNumber?.untouched">
                    <small class="alert alert-danger" *ngIf="phoneNumber?.errors?.['required']">
                        Phone Number is required
                    </small>
                    <small class="alert alert-danger" *ngIf="phoneNumber?.errors?.['pattern']">
                      numbers only from 9d to 14d
                  </small>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <input type="date" class="form-control datetimepicker flatpickr-input" placeholder="Birth Date" name="date2" id="date2"formControlName="birthDate" required>
            </div>
            <div class="mt-3" [hidden]="birthDate?.valid || birthDate?.untouched">
                <small class="alert alert-danger" *ngIf="birthDate?.errors?.['required']"> 
                    BirthDate is required
                </small>
                <small class="alert alert-danger" *ngIf="birthDate?.errors?.['minAge']"> 
                  age must be > 20
              </small>
              <small class="alert alert-danger" *ngIf="birthDate?.errors?.['maxAge']"> 
                age must be under 50
            </small>
            </div>
        </div>
    </div>
   
    
    <br>
    <br>
    
    <div class="row clearfix">
        <div class="col-sm-12">
            <div class="form-group">
                <div class="form-line">
                    <textarea rows="2" class="form-control no-resize" placeholder="Address"formControlName="address" required></textarea>
                </div>
                <div class="mt-3" [hidden]="address?.valid || address?.untouched">
                    <small class="alert alert-danger" *ngIf="address?.errors?.['required']">
                        Address is required
                    </small>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="col-lg-12 p-t-20 text-center">
        <button type="button" class="btn btn-primary waves-effect m-r-15" (click)="onSubmit()">Submit</button>
        &nbsp;|&nbsp;
        <button type="button" class="btn btn-success waves-effect"routerLink="/employee">Back To List</button>
    </div>
</form>
            </div>
            </div>
            </div>
            </div>
            </div>
            </section>
            