<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
          <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
              <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                  Welcome To <br />
                  <span style="color: #1bbca3">Our HR System </span>
              </h1>
              <p class="mb-4 opacity-70" style="color: #fff">
                  Our HR System is an integral part of our work experience, designed to streamline daily operations for employees and effectively manage human resources. Our system offers advanced solutions to facilitate easy and secure access to information and data management.
              </p>
          </div>
          <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
              <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
              <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
              <div class="card bg-glass">
                  <div class="card-body px-4 py-4 px-md-5">
                      <form [formGroup]="form" (ngSubmit)="registerfn()">
                          <h5 class="fw-normal mb-3 pb-4 px-2 py-2 text-center text-main" style="letter-spacing: 1px; font-size: 2rem;">Registration</h5>
                          <div class="form-outline mb-4">
                            <label class="form-label" for="username">Username</label>
                              <input type="text" formControlName="username" class="form-control" />
                              <div [hidden]="username?.valid || username?.untouched">
                                <small class="text-danger" *ngIf="username?.errors?.['required']">
                                  Username required
                                </small>
                              </div>
                              <!-- <div *ngIf="form.controls.username.invalid && form.controls.username.touched" class="text-danger">Username is required</div> -->
                          </div>
                          <div class="form-outline mb-4">
                            <label class="form-label" for="email">Email address</label>
                              <input type="email" id="email" formControlName="email" class="form-control" />
                              <!-- <div *ngIf="form.controls.email.invalid && form.controls.email.touched" class="text-danger">Please enter a valid email address</div> -->
                              <div [hidden]="email?.valid || email?.untouched">
                                <small class="text-danger" *ngIf="email?.errors?.['required']">
                                  Email is required
                                </small>
                              </div>
                          </div>
                          <div class="form-outline mb-4">
                            <label class="form-label" for="password">Password</label>
                              <input type="password" id="password" formControlName="password" class="form-control" />
                          </div>
                          <div [hidden]="password?.valid || password?.untouched">
                            <small class="text-danger" *ngIf="password?.errors?.['required']">
                              Password is required
                            </small>
                          </div>
                          <div class="form-outline mb-4">
                            <label class="form-label" for="passwordConfirmed">Confirm Password</label>
                              <input type="password" id="passwordConfirmed" formControlName="passwordConfirmed" class="form-control" />
                              <!-- <div *ngIf="form.controls.passwordConfirmed.invalid && form.controls.passwordConfirmed.touched" class="text-danger">Passwords do not match</div> -->
                              <div [hidden]="passwordConfirmed?.valid || passwordConfirmed?.untouched">
                                <small class="text-danger" *ngIf="passwordConfirmed?.errors?.['required']">
                                  ConfirmPassword is required
                                </small>
                                <small class="text-danger" *ngIf="passwordConfirmed?.errors?.['passwordMismatch']">
                                  ConfirmPassword Not matched the Password
                                </small>
                                
                              </div>
                          </div>
                          <button type="submit" class="btn btn-get-started btn-block mb-4" (click)="showAllErrors()">Register</button>
                          <p class="mb-0">Have an account? <a routerLink="/Login" class="text-decoration-none" style="color:#1bbca3;">Login here</a></p>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Section: Design Block -->
