
#sidebar {
  background-color: #fff9fcd8; /* Change background color to gray */
  color: #161616; /* Set text color */
  width: 250px;
  height: 100%;
  margin-top: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.white-label {
  background-color: #808080; /* Change background color to gray */
  color: #fff;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

#sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#sidebar-nav ul li {
  padding: 15px;
  border-bottom: 1px solid #555;
}

#sidebar-nav ul li a {
  color: #121212; /* Set link color */
  text-decoration: none;
}

#sidebar-nav ul li.active {
  background-color: #555;
}

#sidebar-nav ul li.active a {
  color: #ffcc00;
}

.fa {
  margin-right: 10px;
}


li{
  
  font-style: oblique;
}
