<div id="wrapper" class="position-fixed ">
    <div class="bg-dark text-white " id="sidebar-wrapper">
        <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom"><i
                class="fas fa-user-secret me-2"></i>HR Dashboard</div>
        <div class="list-group list-group-flush my-3">
            <a routerLink="/home" class="list-group-item list-group-item-action bg-transparent second-text active"><i
                    class="fas fa-tachometer-alt me-2"></i>Home</a>
            <a routerLink="/employee" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                    class="fas fa-project-diagram me-2"></i>Employees</a>
            <a  routerLink="/EmployeeAttendance" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                    class="fas fa-chart-line me-2"></i>Employees Attendace</a>
                    <a  routerLink="/Holiday" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-chart-line me-2"></i>Holiday</a>
            <a routerLink="/EmployeesReports" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                    class="fas fa-paperclip me-2"></i>Reports</a>

                    
                    
        </div>
    </div>
    <!-- /#sidebar-wrapper -->