.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This ensures the container takes up the full height of the viewport */
  }
  
  .employee-form {
    width: 400px; /* Adjust the width as needed */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .employee-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .employee-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .buttons {
    margin-top: 20px;
    text-align: center; /* Center align buttons */
  }
  
  .buttons button,
  .buttons a {
    margin-right: 10px;
  }
  