<!-- <div class="container">
    <form [formGroup]="employeeform" (ngSubmit)="updateemployee()">


     <label for="name">name</label>
     <input type="text" formControlName="name" id="name" readonly >

     <label for="date">date</label>
     <input type="text" formControlName="date" id="date" >

     <label for="attendens">attendens</label>
     <input type="text" formControlName="attendens" id="attendens">

     <label for="deperture">deperture</label>
     <input type="text" formControlName="deperture" id="deperture">

    <button type="submit" class="border-0"><a class="btn btn-success" >Update</a></button>
    <a href="" class="btn btn-primary" routerLink="/EmployeeAttendance">Back to list</a>
    




    </form>
</div> -->

<div class="container">
    <form [formGroup]="employeeform" (ngSubmit)="updateemployee()" class="employee-form">
      <label for="name">Name</label>
      <input type="text" formControlName="name" id="name" readonly>
  
      <label for="date">Date</label>
      <input type="text" formControlName="date" id="date">
  
      <label for="attendens">Attendens</label>
      <input type="text" formControlName="attendens" id="attendens">
  
      <label for="deperture">Deperture</label>
      <input type="text" formControlName="deperture" id="deperture">
  
      <div class="buttons">
        <button type="submit" class="btn btn-success">Update</button>
        <a href="" class="btn btn-primary" routerLink="/EmployeeAttendance">Back to list</a>
      </div>
    </form>
  </div>
  
