
ul li a , a {
    color: rgb(41, 40, 40);
}

.navbar-brand:focus, .navbar-brand:hover {
    color: rgb(185, 181, 181);
    cursor: pointer;
}

#hrimg {
    height: 40px;
    width: 50px;
    border-radius: 50vh;
    cursor: pointer;
}

.custom-style {
    height: 85px;
    background-color: rgba(0, 0, 0, .1);
    margin-left: 96px;
    
    
}

ul li a:hover{
    color: teal;
}