<nav class="navbar navbar-expand-lg  w-100 custom-style fs-5 fw-bold">
  <div class="container">
      <a ><img src="assets/mRY_c1WL_400x400.jpg" style="height: 50px;" id="hrimg" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-around "id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/home"> Home</a>               
              </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/employee">Employees</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/EmployeeAttendance">Attendance</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/EmployeesReports">Reports</a>
              </li>
          </ul>
      </div>
  </div>
</nav>
