<div class="container-fluid d-flex justify-content-center align-items-center h-100 custom-style">
    <div class="w-100 overflow-hidden">
        <div class="first text-center">
            <h2><a routerLink="/employee" class="text-decoration-none text-light">Employees Views</a></h2>
        </div>
        <div class="first text-center">
            <h2><a routerLink="/EmployeeAttendance" class="text-decoration-none text-light">Employees Attendance</a></h2>
        </div>
        <div class="first text-center">
            <h2><a routerLink="/EmployeesReports" class="text-decoration-none text-light">Employees Reports</a></h2>
        </div>
    </div>
</div>
