.card {
    background-color: #fff;
    border: 4px solid #fdfbfb;
    padding: 20px;
    width: 60%; /* Adjust the width as needed */
    max-width: 600px; /* Limit the maximum width */
    margin: 100px auto; /* Center the card horizontally */
    border-radius: 15px;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow:  0px 20px 40px rgba(0, 0, 0, 0.2);;
  }
  
  
  .card .header h2 {
    color: #555; /* لون النص داخل الكارد */
  }
 /* #employeea{
    color: #2ae0c4;
  }*/
 /* Apply border when input is valid and required */
 input.ng-valid[required],
 input.ng-valid.required {
     border-left: 5px solid #42A948; /* Green border */
 }
 
 .form-control {
  box-shadow: 0 1px 20px 0 #B0C1D9;
}
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
input.ng-valid[required],
select.ng-valid[required],
textarea.ng-valid[required] {
    border-left: 5px solid #42a948; /* Green border */
}

.form-check{
 padding-bottom: 10px;

}
.sybmit{
  padding-left: 230px;

}
h4 {
  font-size: 24px; /* Adjust the font size as needed */
  font-weight: bold; /* Make the text bold */
  color: #333; /* Set the text color */

}

