
<app-dashboard></app-dashboard>
<section class="content">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
      <div class="col-lg-8 col-md-10">
        <div class="card">
          <div class="header text-center">
            <h2><strong>General</strong> Setting</h2>
          </div>
         
          <div class="body">
              <div class="row ">
                <div class="col-12">
                 
                  <form [formGroup]="Formdata" (ngSubmit)="onSubmit()" class="settings-form">
                    <div class="col-6 clearfix">
                    <div class="form-group">
                      <div class="form-line">
                        <label>PLus</label>
                        <input type="text" id="plus" formControlName="plus" class="form-control" required placeholder="Plus">
                        <div *ngIf="plus?.invalid && (plus?.dirty || plus?.touched)" class="error-messages">
                            <div *ngIf="plus?.errors?.['required']"><small class="alert alert-danger">Plus is required</small></div>
                            <div *ngIf="plus?.errors?.['min']"><small class="alert alert-danger">Plus must be at least 1</small></div>
                            <div *ngIf="plus?.errors?.['max']"><small class="alert alert-danger">Plus must be at most 20</small></div>
                            <div *ngIf="plus?.errors?.['pattern']"><small class="alert alert-danger">Plus must contain only numbers</small></div>
                        </div>
                    </div>
                      
              
              
                    </div>
                  <br>
                  <style>
                    .error-messages {margin-top: 20px; }

                </style>
                
                
                    <div class="form-group">
                      <label>Discount</label> 
                      <input type="text" id="late" formControlName="late" class="form-control" required placeholder="Late">
                      <div *ngIf="late?.invalid && (late?.dirty || late?.touched)" class="error-messages">
                        <div *ngIf="late?.errors?.['required']"><small class="alert alert-danger">late is required</small></div>
                        <div *ngIf="late?.errors?.['min']"><small class="alert alert-danger">late must be at least 1</small></div>
                        <div *ngIf="late?.errors?.['max']"><small class="alert alert-danger">late must be at most 20</small></div>
                        <div *ngIf="late?.errors?.['pattern']"><small class="alert alert-danger">late must contain only numbers</small></div>
                    </div>
                    </div>
                 
              <br>
                    </div>
                    
              <div class="col-md-12  ">
                <!-- Label for Weekend section -->
                <h4>Weekend</h4>
              </div>
              

                    <div class="row ">
                      <div class="col">
                        <!-- Checkboxes for Sunday and Tuesday -->
                        
                        <div class="form-check">
                          <input type="checkbox" value="0" id="sunday" formControlName="sunday" (change)="onCheckboxChange('sunday')" class="form-check-input">
                          <label for="sunday" class="form-check-label">Sunday</label>
                        </div>
                        <div class="form-check">
                          <input type="checkbox" value="1" id="monday" formControlName="monday" (change)="onCheckboxChange('monday')" class="form-check-input">
                          <label for="monday" class="form-check-label">Monday</label>
                        </div>
                        <div class="form-check">
                          <input type="checkbox" value="5" id="friday" formControlName="friday" (change)="onCheckboxChange('friday')" class="form-check-input">
                          <label for="friday" class="form-check-label">Friday</label>
                    
                      </div>
                        </div>
                        <div class="col">
                        <!-- Checkboxes for Thursday and Friday -->
                        <div class="form-check">
                          <input type="checkbox" value="2" id="tuesday" formControlName="tuesday" (change)="onCheckboxChange('tuesday')" class="form-check-input">
                          <label for="tuesday" class="form-check-label">Tuesday</label>
                        </div>
                        <div class="form-check">
                          <input type="checkbox" value="3" id="wednesday" formControlName="wednesday" (change)="onCheckboxChange('wednesday')" class="form-check-input">
                          <label for="wednesday" class="form-check-label">Wednesday</label>
                        </div>
                       
                      </div>
                    
                      <div class="col">
                        <!-- Checkboxes for Monday and Wednesday -->
                        <div class="form-check">
                          <input type="checkbox" value="4" id="thursday" formControlName="thursday" (change)="onCheckboxChange('thursday')" class="form-check-input">
                          <label for="thursday" class="form-check-label">Thursday</label>
                        </div>
                          <div class="form-check">
                          <input type="checkbox" value="6" id="saturday" formControlName="saturday" (change)="onCheckboxChange('saturday')" class="form-check-input">
                          <label for="saturday" class="form-check-label">Saturday</label>
                        </div>
                      
                       
                       </div> 
                       
                        <!-- Checkbox for Saturday -->
                        
                    </div>
                    
                  
                  
                    <div class="sybmit">
                      <button type="submit" class="btn btn-primary waves-effect m-r-15" (click)="onSubmit()" [disabled]="Formdata.invalid">Submit</button>

                      
                  </div>
                  </form>
          </div>
        </div>
 








