<app-dashboard></app-dashboard>
<section class="content">
    <div class="container">
        <div class="row justify-content-center align-items-center"style="height: 100vh;">
            <div class="col-lg-8 col-md-10 ">
                <div class="card">
                    <div class="header text-center">
                        <h2><strong>Add</strong> Employee Attendance</h2>
                        <br>
                        
                    </div>
                  
                    <div class="body">
                        <form (ngSubmit)="onSubmit()" [formGroup]="employeeForm" class="">
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" placeholder="Search employees" #inpvalue (input)="filterEmployees(inpvalue.value)">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <select class="form-select" id="employee" aria-label="Select Employee" (change)="onSelect($event)">
                                                <option disabled selected  required>Select an Employee</option>
                                                <option *ngFor="let item of filteredEmployees" [value]="item.id" required>{{item.fullName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <br>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="date" class="form-label">Date</label>
                                        <input class="form-control" type="date" formControlName="date" id="date" required>
                                    </div>
                                </div>
                            </div>
                            <!-- minSelectDateValidator -->
                            <div class="mt-3" [hidden]="date?.valid || date?.untouched">
                                <small class="alert alert-danger" *ngIf="date?.errors?.['required']">
                                    date is required
                                </small>
                                <small class="alert alert-danger" *ngIf="date?.errors?.['dateValue']">
                                  year >= 2020
                              </small>
                            </div>
                            <br>
                            <br>
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input class="form-control" type="text" formControlName="attendens" id="attendens" placeholder="Enter attendance time" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control" type="text" formControlName="deperture" id="deperture" placeholder="Enter departure time" required>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="col-lg-12 p-t-20 text-center">
                                <button type="submit" class="btn btn-primary waves-effect m-r-15">Submit</button>
                                &nbsp;|&nbsp;
                                <button type="button" class="btn btn-success waves-effect" routerLink="/EmployeeAttendance">Back To List</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
