<app-dashboard></app-dashboard>
<section class="content">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
      <div class="col-lg-8 col-md-10">
        <div class="card"[ngStyle]="{'height': dataLoaded ? 'auto' : '100%'}">
          <div class="header text-center">
            <h2><strong>Employee</strong> Attendance</h2>
          </div>
          <div class="body">
            <form [formGroup]="employeeform" (ngSubmit)="onsumbit()">  
              <div class="row clearfix">
              <div class="col-sm-6">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="form-control mb-3" formControlName="startdate" id="startdate" autocomplete="off" placeholder="&#61442; From  yyyy-mm-dd" required>
                  </div>
                  <div *ngIf="startdate?.errors && (startdate?.dirty || startdate?.touched)">
                    <small class="alert alert-danger" *ngIf="startdate?.errors?.['required']">
                      The From Date Is Required
                    </small>
                    <small class="alert alert-danger" *ngIf="startdate?.errors?.['invalidDateFormat']">
                     Date format should be like (yyyy-mm-dd)
                    </small>
                    <small class="alert alert-danger" *ngIf="startdate?.errors?.['invalidDateRange']">   
                      The From date cannot be greater than the To date
                    </small> 
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="form-control mb-3"  formControlName="enddate" id="enddate" autocomplete="off" placeholder="&#61442; To yyyy-mm-dd" required>
                  </div>
                  <div *ngIf="enddate?.errors && (enddate?.dirty || enddate?.touched)">
                    <small class="alert alert-danger" *ngIf="enddate?.errors?.['required']">
                      The From Date Is Required
                    </small>
                    <small class="alert alert-danger" *ngIf="enddate?.errors?.['invalidDateFormat']">
                     Date format should be like (yyyy-mm-dd)
                    </small>
                    <small class="alert alert-danger" *ngIf="enddate?.errors?.['invalidDateRange']">   
                      The From date cannot be greater than the To date
                    </small> 
                  </div>
                </div>
              </div>
              </div> 
              <br>
              <br> 
              <div class="d-flex justify-content-center align-items-center" >
              <button type="submit" class="btn btn-success mt-3"  [hidden]="!employeeform.valid" (click)="displaytable()">View</button>
              </div>
              <br>
              <br>
              <table class="table mt-3 table-striped" [hidden]="!dataLoaded"  id="TABLE">
                <thead>
                  <tr class="table-dark">
                    <th>Name</th>
                    <th>Date</th>
                    <th>attendens</th>
                    <th>deperture</th>
                    <th>Late</th>
                    <th>plus</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of allemp">    
                    <td>{{item.name}}</td>
                    <td>{{item.date}}</td>
                    <td>{{item.attendens}}</td>
                    <td>{{item.deperture}}</td>
                    <td>{{item.late}}</td>
                    <td>{{item.plus}}</td>
                    <td><a [routerLink]="['/EditEmployeeAttendance',item.id,item.date]" class="btn btn-primary">Edit</a></td>
                    <td><a class="btn btn-danger" (click)="deleteAttendance(item.id, item)">Delete</a></td>

                  </tr>
                </tbody>
              </table>
              </form>
          </div>
          </div>
          </div>
          </div>
          </div>
          </section>
          